.blog-banner {
    background-image: radial-gradient(circle at center, rgba(42, 46, 64, 0) 0%, #2a2e40 70%), url(../img/banner-blog.jpg)!important;
}

.blog-article {
    &__img {
        object-fit: cover;
        margin-bottom: 20px;
        img {
            box-shadow: 50px 70px 120px -42px rgba(0, 0, 0, 0.3);
        }
    }
    &__title {
        margin-bottom: 10px;
    }
    &__title-link {
        font-size: 24px;
        line-height: calc(30 / 24 * 100%);
        font-weight: 600;
        color: inherit;
    }
    &__meta-info {
        margin: 10px 0;
        span {
            font-weight: 600;
        }
        a {
            color: inherit;
            text-decoration: underline;
        }
    }
    &__read-more {
        margin: 10px 0;
    }
    &__meta-info {
        font-size: 15px;
    }
}

.post-blog {
    &__banner {
        position: relative;
    }
    &__img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        filter: opacity(30%);
    }
    &__title {
        position: absolute;
        top: 25%;
    }
    &__content {
        padding: 80px 0px;
        font-size: 16px;
        line-height: calc(30 / 16 * 100%);
        h2,
        h3 {
            margin-top: 40px;
            text-decoration: underline $borderColor;
            text-decoration-thickness: 6px;
        }
        p {
            margin-bottom: 15px;
            &:last-child {
                margin: 0;
            }
        }
        a {
            color: #003A6C;
            text-decoration: underline;
            font-weight: 600;
        }
    }
}