.footer {
    background-color: #cfcfcf;
    padding: 40px 0px;
    &__list-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item-menu {
        margin: 0px 20px;
    }
    &__link-menu {
        color: #000;
        font-weight: 600;
    }
}