body {
    font-size: 16px;
    line-height: 24px;
    font-family: Helvetica, Arial, sans-serif;
    color: $textColor;
}

html,
body {
    height: 100%;
}

html {
    overflow-x: hidden;
}

@media (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

h1 {
    font-size: 80px;
    line-height: calc(80 / 80 * 100%);
    font-weight: 500;
    letter-spacing: 4px;
    @media (max-width: 767px) {
        font-size: 60px;
    }
    @media (max-width: 460px) {
        font-size: 40px;
    }
}

h2 {
    font-size: 60px;
    line-height: calc(60 / 60 * 100%);
    font-weight: 500;
    padding-bottom: 20px;
    @media (max-width: 767px) {
        font-size: 40px;
    }
}

h3 {
    font-size: 34px;
    line-height: calc(34 / 34 * 100%);
    font-weight: 500;
    padding-bottom: 20px;
    @media (max-width: 767px) {
        font-size: 28px;
    }
}

a {
    transition: all .2s ease-in-out;
}

.link-border-bottom {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #000;
    border-bottom: 2px solid $borderColor;
    padding: 10px 12px;
    display: inline-block;
    &:hover {
        box-shadow: 0px 8px 0px 0px $borderColor;
    }
}

.btn-transparent {
    border: 1px solid #fff;
    padding: 15px 20px;
    letter-spacing: 3px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    transform: translate(0px, 0px);
    display: inline-block;
    &:hover {
        transform: translate(0px, -2px);
    }
}

.btn-green {
    border: 1px solid $borderColor;
    padding: 15px 20px;
    letter-spacing: 3px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    transform: translate(0px, 0px);
    display: inline-block;
    &:hover {
        transform: translate(0px, -2px);
    }
}

.banner-page {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 400px;
    background-size: cover;
    padding: 60px 0px 0px;
    &__content {
        position: relative;
        padding: 60px 0px 0px;
        &::before {
            content: "";
            position: absolute;
            width: 60%;
            border-style: dashed;
            border-color: #CFCFCF;
            border-width: 1px;
            top: 0;
            left: 0;
        }
    }
    &__sub-title {
        text-transform: uppercase;
        letter-spacing: 12px;
        font-weight: 600;
        font-size: 16px;
        line-height: calc(24 / 16 * 100%);
        padding-bottom: 20px;
        color: #fff;
    }
    &__title {
        color: #fff;
    }
}

.wpd-vote {
    display: none!important;
}

#to-up {
    display: inline-block;
    background-color: $bgGreen;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#to-up:hover {
    cursor: pointer;
    opacity: 0.8;
}

#to-up:active {
    opacity: 0.8;
}

#to-up.show {
    opacity: 1;
    visibility: visible;
}

#to-up i {
    font-size: 34px;
    color: #fff;
    line-height: 48px;
}