body {
    font-size: 16px;
    line-height: 24px;
    font-family: Helvetica, Arial, sans-serif;
    color: $textColor;
}

html,
body {
    height: 100%;
}

html {
    overflow-x: hidden;
}

@media (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

h1 {
    font-size: 80px;
    line-height: calc(80 / 80 * 100%);
    font-weight: 500;
    letter-spacing: 4px;
    @media (max-width: 767px) {
        font-size: 60px;
    }
    @media (max-width: 460px) {
        font-size: 40px;
    }
}

h2 {
    font-size: 60px;
    line-height: calc(60 / 60 * 100%);
    font-weight: 500;
    padding-bottom: 20px;
    @media (max-width: 767px) {
        font-size: 40px;
    }
}

h3 {
    font-size: 34px;
    font-weight: 500;
    padding-bottom: 20px;
    @media (max-width: 767px) {
        font-size: 28px;
    }
}

a {
    transition: all .2s ease-in-out;
}

.link-border-bottom {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #000;
    border-bottom: 2px solid $borderColor;
    padding: 10px 12px;
    display: inline-block;
    &:hover {
        box-shadow: 0px 8px 0px 0px $borderColor;
    }
}

.btn-transparent {
    border: 1px solid #fff;
    padding: 15px 20px;
    letter-spacing: 3px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    transform: translate(0px, 0px);
    display: inline-block;
    &:hover {
        transform: translate(0px, -2px);
    }
}

.btn-green {}